<main>
  <!-- Hero -->
  <section>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 95vh">
      <div class="absolute top-0 w-full h-full bg-top bg-cover" style="
          background-image: url('https://i.imgur.com/pIu9ciu.jpg');
        ">
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
      </div>
      <div class="container relative mx-auto" data-aos="fade-in">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div>
              <h1 class="text-white font-semibold text-5xl hero-heading">
                <span class="text-500">Hungry? We've got your back!</span>
              </h1>
              <p class="mt-4 text-lg text-300 hero-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem suscipit beatae expedita dolorem
                explicabo eum itaque laudantium ullam consequatur. Ipsam distinctio dolore totam perspiciatis eaque
                nihil illum esse cumque? Eum.
              </p>
              <a href="#"
                class="hover:bg-500  font-semibold hover:text-white p-4 border hover:border-transparent rounded inline-block mt-5 cursor-pointer btn-primary">Order
                now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden underhero"
        style="height: 70px; transform: translateZ(0px)">
      </div>
    </div>
    </section-->
    <section class="menu container mx-auto py-8">
      <h1 class="text-xl font-bold mb-8">
        Menu
      </h1>
      <!--Cards-->
      <div class="grid grid-cols-4 gap-x-16 gap-y-12">
        <% items.forEach(function(items){ %>
          <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="<%= items.image%>" alt="pizza-img">
            <div class="text-center">
              <h2 class="mb-4 text-lg">
                <%=items.name%>
              </h2>
              <span class="size py-1 px-4 rounded-full uppercase text-xs">
                <%=items.size%>
              </span>
              <div class="flex items-center justify-around mt-6">
                <span class="font-bold text-lg">INR <%=items.price%></span>
                <button data-items="<%= JSON.stringify(items) %>"
                  class="add-cart py-1 px-6 rounded-full flex items-center font-bold">
                  <span class="ml-4">+</span>
                  <span>Add</span>
                </button>
              </div>
            </div>
          </div>
          <% })%>



      </div>
    </section>